.content {
    padding: 40px 20px;

    h1 {
        margin:0;
        font-family: 'museoSlab';
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: normal;
    }

    .comments-bar {
        border-top: 3px solid #f0f0f0;
        border-bottom: 3px solid #f0f0f0;
        padding: 5px 0;
        margin: 25px 0 15px 0;
        color: $primary-color;
        font-size: 80%;
    }

    .main-text {
        p {
            line-height: 1.3em;
        }
        .link-abre-e-fecha {
            background-color: $primary-color;
            padding: 5px;
            min-width: 50px;
            margin: 0 0 25px;
            font-family: museoSlab;
            font-size: 70%;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            display: inline-block;
            text-align: center;
        }
        .mapa,.quadro {
            background-color: #ccf5ff;
            text-decoration: none;
            color: $third-color;
            padding: 0 3px;
            i {
                background-color: #fff;
                color: $primary-color;
                font-size: 120%;
            }
        }
    }

    @import "comments";
}