#modal-content-box {
    height: 100%;
    overflow: auto;
    width: 100%;

    .titlebar {
        background-color: $primary-color;
        h2 {
            color: #fff;
            font-family: museoSlab;
            padding:0 0 0 25px;
            margin:0;
            display: inline-block;
            width: 70%;
            font-weight: normal;
        }
        ul {
            display: inline-block;
            width: 25%;
            text-align: right;
            padding: 13px 0;
            margin: 0;
            li {
                display: inline-block;
                list-style: none;
                margin: 0 0 0 15px;
                a {
                    font-family: museoSlab;
                    opacity: .5;
                    color: #fff;
                    text-decoration: none;
                    i {
                        margin: 0 5px 0 0;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .image-content {
        background-color: transparent;
    }

    .sidebar {
        background-color: transparent;
        .sidebox {
            h2 {
                position: relative;
            }
            h2:after {
                right: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            h2:after {
                border-color: rgba(215, 50, 47, 0);
                border-right-color: #d7322f;
                border-width: 10px;
                top: 50%;
                margin-top: -10px;
            }

            #respond {
                h3 { display:none; }
                margin: 25px 25px 0;

                .must-log-in {
                    margin: 0 0 25px 0;
                    display: inline-block;
                }

                .comment-form-comment {
                    margin: 0;
                    label {
                        margin: 0 0 10px 0;
                        display: block;
                    }
                }
                .send-comment,
                .cancel-comment {
                    display: inline-block;
                    margin: 20px 0 20px 190px;
                    text-decoration: none;
                    text-transform: uppercase;
                    i {
                        //font-size: 28px;
                        margin: 0 10px 0 0;
                    }
                }
                .send-comment {
                    color: $primary-color;
                }
                .cancel-comment {
                    color: #666;
                }
                .form-submit {
                    display:none;
                }
            }
        }
    }
}
.container-page {
    // overflow-y: visible;
    // position:absolute;
    // height: 100%;
    // width: 100%;
}