/**
 * Fonts
 */
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700");

@font-face {
    font-family: 'museoSlab';
    src: url('../fonts/museo_slab_500-webfont.eot');
    src: url('../fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_slab_500-webfont.woff') format('woff'),
         url('../fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('../fonts/museo_slab_500-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'museoSans';
    src: url('../fonts/museosans-300-webfont.eot');
    src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype'),
         url('../fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Conv_NeutraDisplay-Draft';
    src: url('../fonts/NeutraDisplay-Draft.eot');
    src: local('☺'), url('../fonts/NeutraDisplay-Draft.woff') format('woff'), url('../fonts/NeutraDisplay-Draft.ttf') format('truetype'), url('../fonts/NeutraDisplay-Draft.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "fonts/icones/style";