/***** HEADER ******/

.topbar {
    background: 0px 0px url('../images/bg-topbar.png') repeat-x transparent;
    height: 45px;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, .5);
    z-index: 2;
    position: relative;
}

.topbar .logo-gestao {
    background: top left url('../images/logo-gestao_urbana.png') no-repeat transparent;
    width: 206px;
    height: 22px;
    text-indent: -9999px;
    display: inline-block;
    margin: 13px 15px 0;
}

.topbar .voltar-gestao {
    background: 50% 50% url('../images/seta-voltar.png') no-repeat transparent;
    text-indent: -9999px;
    width: 20px;
    height: 16px;
    display: inline-block;
    border: 2px solid #ccc;
    border-width: 0 2px;
    margin: 0px;
    padding: 15px 15px 14px;
}

.topbar p {
    color: $primary-color;
    display: inline-block;
    padding: 15px 15px 0 15px;
    margin:0;
    font-family: "museoSlab", sans-serif;

}

.topbar .socialbar {
    display: inline-block;
    margin: 11px 0 0 0 ;
    .pure-u-1-3 {
        text-align: center;
    }

    .twitter-share-button {
    //.uibutton.confirm {
        margin: 0 15px;
    }
}

.menubar {
    height: 45px;
    background-color: $primary-color;
    z-index: 1;
    position: relative;

    ul {
        text-align: right;
        width: 55%;
        padding:0;
        display: inline-block;

        &.secondary {
            width: 40%;
        }

        li {
            list-style:none;
            display: inline-block;
            margin: 0 25px 0 0;
            a {
                opacity: .5;
                font-family: "museoSlab", sans-serif;
                color: #fff;
                text-decoration: none;

                &:hover,
                &.active {
                    opacity: 1;
                }
            }
        }
        &.primary {
            text-align: left;
            li {
                margin: 0 0 0 25px;
                a {
                    text-transform: uppercase;
                }
            }
        }
    }
}